.boxContainer{
    width: 100px;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 3px black;
}
/* h1{
    color: white;
} */